{
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }  
  },
  "rules": {
    "semi": [1,"never"],
    "react/jsx-indent": [1, 4],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
